body {
    background-color: rgb(236, 236, 236);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    
}
.background {
    background-color:  white;
    margin: 0 200px;
}
img {
    width: 80px;
}
h1 {
    text-align: center;
    position: relative;
    line-height: 60px;
    color: #000000;
    margin-top: 30px; 
    font-size: 30px;  
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px; 
}

h1::after {
    content: '';
    background: rgb(36, 236, 36);
    width: 150px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

h2 {
    text-align: center;
    padding: 15px;
    font-family: 'Bebas Neue', sans-serif;
    font-weight: 100;
    letter-spacing: 1.5px;
}
.letter {
    margin: 0 50px;
    padding: 20px;
    font-size: 25px;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 700;
}
.letter2 {
    font-size: 25px;
    margin-top: 20px;
    font-family: 'Smooch Sans', sans-serif;
    letter-spacing: 1px;
    font-weight: 900;
}
@media only screen and (max-width: 1000px) {
    .background {
        margin: 0 100px;
    }
}

@media only screen and (max-width: 700px) {
    .background {
        margin: 0 50px;
    }
}

@media only screen and (max-width: 600px) {
    .background {
        margin: 0 30px;
    }
    .letter {
        font-size: 18px;
    }
    .letter2 {
        font-size: 18px;
    }
}

@media only screen and (max-width: 500px) {
    .background {
        margin: 0 20px;
    }
    .letter {
        font-size: 15px;
        margin: 0 25px;
    }
    .letter2 {
        font-size: 15px;
    }
    h1 {
        font-size: 20px;
    }
    img {
        width: 50px;
    }
    h2 {
        font-size: 15px;
    }
}

